*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-1 {
  background-color: red;
  height: 200px;
  width: 200px;

  /* Box Sizing -  padding , border */
  border: 20px solid rgb(0, 255, 187);
}

.box-2 {
  background-color: green;
  height: 200px;
  width: 200px;
}

#test {
  color: aquamarine;
}

h1 {
  color: blueviolet;
}

.btn {
  color: aqua;
}

.btn:hover {
  color: brown;
}

.btn-new {
  background-color: rgb(86, 179, 86);
  padding: 20px;
  cursor: pointer;
}

.test {
  background-color: blue;

  width: 150px;
  height: 150px;
  overflow: auto;
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


 @-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.hi {
  color: aqua;
}

.hi {
  color: red;
}